<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../public/style.css">
    <title>Glow Up</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href='/'><img src="public/images/GLOWUP.png"></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="views/reviews/index.hbs">Reviews</a></li>
        </ul>
    </nav>
    {{{body}}}
    <footer><small>Copyright 2019 Arbiter Digital</small></footer>
</body>
</html>