<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/style.css">
    <title>Glow Up</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href='/'><img src="public/images/GLOWUP.png"></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    {{{body}}}
    <footer><small>Copyright 2019 Arbiter Digital</small></footer>
</body>
</html>