<!DOCTYPE>
	<html>
	<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/public/css/styles.css">
            <title>GLOW UP</title>
	</head>
    <body>
      <nav>
      
        <div id="nav-items">
            <a href="/views/recipes/about.hbs">
                About
            </a>
            <a href="/views/recipes/index.hbs">
                Recipes
            </a>
            <a href="/views/recipes/contact.hbs">
                Contact
            </a>
            <a href="#">
                login
            </a>
        </div>
      <div class="header">
            <a href='/'>
                <img src="/public/images/GLOWUP(1).png">
                <h1></h1>
            </a>
        </div>
    </nav>
          {{{body}}}
      <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script type="text/javascript" src="/script.js"></script> 
    </body>
    </html>