<h1>User Recipes</h1>

{{#each usersWithRecipes}}
<div class="row">
	<br>
		<h4>
			<a href="/{{this.user_name}}">{{this.user_name}}</a>
		</h4>
		<br>
			<h5>
				<strong>Recipes:</strong>
			</h5>
			<ul>
                {{#each this.recipes}}
                <li>{{this.name}}</li>
                {{/each}}
			</ul>
</div>

{{/each}}