<main>
<h1>New recipe!</h1>
<div>
<form action="/recipes" method="POST">
	<div><input type="text" name="name" placeholder="Title"></div>
	<div><input type="text" name="image" placeholder="image"></div>
    <div><input type="textarea" name="description" placeholder="description"></div>
	<div><input type="text" name="prep time" placeholder="prep time"></div>
	<div><input type="text" name="ingredients" placeholder="ingredients"></div>
    <div><input type="textarea" name="directions" placeholder="directions"></div>
    <input type="submit" value="Submit">
</form>
</div>
</main>
 