    {{!-- form to create new recipe --}}
<header>
<form method="POST" action="/recipes/">
    <p>Title:</p><input type="text" name="title"></br>
    <p>Description:</p><input type="text" name="description"></br>
    <p>Ingredients:</p><input type="text" name="ingredients"></br>
    <p>Directions:</p><input type="text" name="directions"></br>
    <input type="submit" value="Submit" class="button">
</form>
</header>
 